#Contacto {
  width: 100%; 
  height: 100vh;
  color: white;
  text-align: center;
  background: linear-gradient(180deg,#0f2027 15%, #203a43, #2c5364);
  padding: 9rem 3rem 0rem 2rem;
}

#Contacto-map {
  padding: 1.5rem 0rem;
}

#Contacto-network_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#Contacto-network_icons img{
  width: 2rem;
  height: 2rem;
}


@media only screen and (max-width: 960px) {
  #Contacto-network {
    

  }
  
}
