.cover-container {
    width: 100%;
    object-fit: contain;
    /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6); */
    display: flex;
    background: linear-gradient(to right, #0f2027 60%, #203a43, #2c5364);
    height: 100vh;
}

.cover-video {
    object-fit: cover;
    width: 33%;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    height: 92vh;
}

.cover-title {
    color: #B2BABB; 
    padding-top: 4rem;
    padding-left: 5rem;
    width: 40%;
    z-index: 2;
}


.cover-servicios {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.cover-servicios__details {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.cover-servicioTecnico {
    color: #B2BABB;
    padding-top: 3.8rem;
}

.cover-image {
    width: 61rem;
    opacity: 0.2;
    border-radius: 10px;
    border: #203a43 solid 1px;
}

.cover-servicios_titles {
    color: white;
    position: absolute;
}


@media only screen and (max-width: 960px){
    .cover-container {
        flex-direction: column;
        height: 300vh;
    }
    .cover-video {
        width: 100%;
    }
    .cover-servicios {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cover-servicioTecnico {
        padding-top: 90rem;
    }
    .cover-servicios__details {
        flex-direction: column;
        width: 100%;
    }
    .cover-image {
        overflow: hidden;
        opacity: 0.2;
        border-radius: 10px;
        border: #203a43 solid 1px;
        object-fit: inherit;
        width: inherit;
        height: 28vh;
    }
    .cover-servicios_titles{
        font-size: .8rem;
        padding: 25px;
    }
    .cover-servicios_titles h3 {
        font-size: 1rem;
    }
    .cover-servicios_titles h5 {
        font-size: .7rem;
    }
}