.Tramites-container {
  padding: 68px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #232526;  /* fallback for old browsers */
  background: linear-gradient(#414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#Tramites-title {   
  color: black;
  margin-top: 3.8rem;
  text-align: center;
}
#Tramites-cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 2.6rem;  
}

@media only screen and (min-width: 700px) and (max-width: 1180px) {
  #Tramites-cards {
    padding-top: 6rem;
    padding-bottom: 3rem; 
  }
}

@media only screen and (min-width: 260px) and (max-width: 760px) {
  .Tramites-container {
    justify-content: unset;
  }
}

  

  
  