.Card-item {
    width: 238px;
    height: 358px;
    border: 2px solid black;
    background: linear-gradient(#2C5364, #203A43, #0F2027); 
    border-radius: 16px;
    text-align: center;
    padding-top: 1rem;
    margin-bottom: .7rem;
}

.Card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Card-item img {
    width: 56px;
    margin-bottom: 12px;
    border-radius: 2px;
}

.Card-title h2 {
    /* text-align: center; */
    text-decoration: none;
    color: white; 
    font-weight: bold;
    padding: 0 6px 0 6px;
}
 
.Card-links {
    font-size: 1.3rem;
    text-decoration: none;
    color: aquamarine;
}

.Card-links a { 
    color: inherit; 
} 