.Card-item {
    width: 236px;
    height: 340px;
    border: 2px solid black;
    background: linear-gradient(#2C5364, #203A43, #0F2027); 
    border-radius: 16px;
    text-align: center;
    padding-top: 2rem;
    margin-bottom: .7rem;
}

.Card-title {
    /* text-align: center; */
    text-decoration: none;
    color: white; 
    font-weight: bold;
}
 
.Card-links {
    font-size: 1.3rem;
    text-decoration: none;
    color: aquamarine;
}

.Card-links a { 
    color: inherit; 
} 