#footer {
    width: 100%; 
    color: white;
    text-align: center;
  }
  #footer .row{
    background: linear-gradient(180deg,#0f2027 15%, #203a43, #2c5364);
    padding: 2rem;
  }
  #footer .container-fluid img{
    width: 2rem;
    height: 2rem;
  }
